{% extends 'main.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/applications.css' %}">
{% endblock %}
{% block title%}Applications{% endblock %}
{% block content%}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="applicationForm">
                {{form.name}}
                {{form.offer}}
                {{form.email}}
                <button type="submit" onclick="">Send</button>
            </div>
    </form>
</div>
{% endblock%}