<script>
    function ShowResult(){
        alert(document.getElementsByClassName('applicationForm')[0].dataset.message)
    }
</script>
{% extends 'main.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/applications.css' %}">
{% endblock %}
{% block title%}Applications{% endblock %}
{% block content%}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="applicationForm" data-message='{{msg}}'>
                {{form.name}}
                {{form.offer}}
                {{form.email}}
                <button type="submit" onclick="ShowResult()">Send</button>
            </div>
    </form>
</div>
{% endblock%}