{% extends 'main.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/contacts.css'%}">
<title>Contact me</title>
{% endblock%}

{% block content%}
<div class="container">
    <div class="panel">
        <a href="https://t.me/ivantr30"><i class="fa-brands fa-telegram fa-2xl"></i><span>@ i v a n t r 3 0</span></a>
        <a href="https://github.com/ivanchikinator"><i class="fa-brands fa-github fa-2xl"></i><span>i v a n c h i k i n a t o r</span></a>
        <a href="mailto:konfetnik2014@gmail.com"><i class="fa-solid fa-envelope fa-2xl"></i><span>k o n f e t n i k 2 0 1 4 @ g m a i l . c o m</span></a>
        <a href="https://discord.gg/Na4Rt3CdHA"><i class="fa-brands fa-discord fa-2xl"></i><span>D i s c o r d - s e r v e r</span></a>
    </div>
</div>
{% endblock%}