<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/102560801?v=4">
    {% block links%}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
    <title>BusinessCard</title>
</head>
<body>
    <header>
        <img src="https://avatars.githubusercontent.com/u/102560801?v=4" class="sitelogo">
        <nav>
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'contacts' %}">Contact me</a>
            <a href="{% url 'applications' %}">Leave an application</a>
            <a href="{% url 'portfolio' %}">Portfolio</a>
        </nav>
    </header>
    {% block content %}
    <div class="container">
        <h1>A free slave for your ideas</h1>
        <!-- <img src="{% static 'images/backgroundImage.jpg' %}" alt="error" class="bgImage"> -->
    </div>
    {% endblock %}
    <footer>
        <p>Copyright &copy; 2022</p>
    </footer>
</body>
</html>