<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/102560801?v=4">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">    <link rel="stylesheet" href="{% static 'css/HeaderFooter.css' %}">
    {% block links%}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>BusinessCard</title>
    {% endblock %}
</head>
<body>
    <header>
        <img src="https://avatars.githubusercontent.com/u/102560801?v=4" class="sitelogo">
        <nav>
            <a href="{% url 'main' %}" class="btn home"><i class="fa fa-home fa-2x"></i><span class="tooltip">Home</span></a>
            <a href="{% url 'contacts' %}" class="btn contacts"><i class="fa fa-phone fa-2x"></i><span class="tooltip">Contact me</span></a>
            <a href="{% url 'applications' %}" class="btn applications"><i class="fa fa-user fa-2x phoneIcon" style="top:10px;"></i><span class="tooltip">Leave an application</span></a>
            <a href="{% url 'portfolio' %}" class="btn portfolio"><i class="fa fa-briefcase fa-2x"></i><span class="tooltip">Portfolio</span></a>
        </nav>
    </header>
    {% block content %}
    <div class="container">
        <h1>A free slave for your ideas</h1>
    </div>
    <p></p>
    {% endblock %}
    <footer>
        <p>Copyright &copy; 2022</p>
    </footer>
</body>
</html>