@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    --primary-color: #292929;
    --secondary-color: #444;
    --light-color: #ccc;
    --transition: all 0.3s ease-in-out;
}
header {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: rgb(22, 28, 35);
    font-size: 0.9rem;
    align-items:center;
}
nav{
    margin-left: 10px;
    align-self: center;
    display:flex;
}
header a{
    text-decoration: none;
}
.btn {
    display:flex;
    align-items: center;
    padding: 0.5vw 1.5vw;
    border-radius: 25px;
    border: solid 1px var(--light-color);
    color: var(--light-color);
    transition: var(--transition);
    box-shadow: 0 0 20px #000;
    text-shadow: 0 0 10px#000;
    margin: 0 10px 0 10px;
}
.btn:hover {
    background-color: var(--primary-color);
}
.btn-filled {
    background-color: var(--secondary-color);
}
.sitelogo{
    width: 40px;
    height: 40px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
body{
    margin: 0;
}
.tooltip {
    margin-left:15px;
}
@media screen and (max-width: 600px) {
    .btn {
        padding:0;
        border: 0;
        background-color:unset;
        font-size: 0.7rem;
    }
    .btn:hover {
        background-color: unset;;
    }
    .tooltip{
        display: none;
    }
}