.container {
    background-image: url('https://i.pinimg.com/originals/ec/b6/41/ecb6416c16b66e9e5409def9271224a2.gif');
    height:85vh;
    background-size:cover;
    background-position:bottom;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1 {
    font-size:2.5rem;
    text-shadow: 0 0 10px #000;
    color: #fff;
    text-align:center;
}
h1{
    padding-top: 3%;;
    align-self: flex-start;
}
.home{
    background-color: unset;
}
.contacts{
    background-color: var(--secondary-color);
}
.applications{
    background-color: var(--secondary-color);
}
.portfolio{
    background-color: var(--secondary-color);
}
p{

}
