@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(22, 28, 35);
    font-size: 0.9rem;
}
nav{
    margin-left: 10px;
    align-self: center;
}
a{
    margin-right: 10px;
    text-decoration: none;
}
.sitelogo{
    width: 40px;
    height: 40px;
}
.container {
    background-image: url('https://i.pinimg.com/originals/ec/b6/41/ecb6416c16b66e9e5409def9271224a2.gif');
    height:85vh;
    background-size:cover;
    background-position:bottom;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1 {
    font-size:2.5rem;
    text-shadow: 0 0 10px #000;
    color: #fff;
    text-align:center;
}
h1{
    padding-top: 3%;;
    align-self: flex-start;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}