.home{
    background-color: var(--secondary-color);
}
.contacts{
    background-color: var(--secondary-color);
}
.applications{
    background-color: var(--secondary-color);
}
.portfolio{
    background-color: unset;
}
.container{
    display: grid;
    grid-template-rows: 20%, 20%, 20%, 20%;
    background-color: rgb(97, 28, 194);
    min-height: 600px;
    height:100vh;
    width: 100%;
}
.projectcard{
    height: 25vw;
    width: 15%;
    min-width: 300px;
    min-height: 400px;
    margin-top: 5%;
    margin-left: 5%;
    perspective: 1000px;
}
 .inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.projectcard:hover .inner {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.front,
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.front{
    color: white;
    background-color: rgb(20, 33, 61);
}
.back{
    background-color: rgb(20, 33, 61);
    color: white;
    transform: rotateY(180deg);
}
.front img{
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h2{
    margin: 0;
    font-size: 24px;
    padding: 30px 30px 30px 30px;
    border-radius: 0 0 20px 20px;
}
p{
    padding: 0 20px;
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px){
    .container{
        grid-template-rows: 100%;
    }
}